// Imports Gerais
@import "./general/normalize";
@import "./general/global";

// functions de responsividade e grid
@import "./structure/functions";
@import "./structure/mixins";
@import "./structure/variables";

@import "./site/componentes";
@import "./site/page";

.page--typ {
	a {
		&:hover {
			color: $cor-primaria !important;
		}
	}
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.my-float {
	margin-top: 16px;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
