<section class="resources">
	<div class="resources__container">
		<div class="resources__content">
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/cabelo-fraco.jpg?as=webp" alt="" /></div>
				<p class="default__desc">cabelos fracos e quebradiços</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/excesso-de-oleosidade.jpg?as=webp" alt="" /></div>
				<p class="default__desc">Excesso de oleosidade</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/cabelo-ralo.png?as=webp" alt="" /></div>
				<p class="default__desc">cabelos ralos e finos</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/dermatite.jpg?as=webp" alt="" /></div>
				<p class="default__desc">dermatites</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/queda-de-cabelo.png?as=webp" alt="" /></div>
				<p class="default__desc">queda de cabelo feminino</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/raleamento.jpg?as=webp" alt="" /></div>
				<p class="default__desc">raleamento</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/calvicie.jpg?as=webp" alt="" /></div>
				<p class="default__desc">CALVÍCIE MASCULINA</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/psoriase.jpg?as=webp" alt="" /></div>
				<p class="default__desc">Psoríase</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/alopercias.jpg?as=webp" alt="" /></div>
				<p class="default__desc">Alopercias</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/inflamacao-do-couro.jpg?as=webp" alt="" /></div>
				<p class="default__desc">Inflamações de couro cabeludo</p>
			</div>


		</div>
		<button class="prev" aria-label="Next" type="button"><svg width="9" height="6" viewBox="0 0 9 6" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path id="Vector"
					d="M4.75698 6.00002L0.513977 1.75702L1.92898 0.343018L4.75698 3.17202L7.58498 0.343018L8.99998 1.75702L4.75698 6.00002Z"
					fill="#383838" />
			</svg>
		</button>
		<button class="next" aria-label="Next" type="button"><svg width="9" height="6" viewBox="0 0 9 6" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path id="Vector"
					d="M4.75698 6.00002L0.513977 1.75702L1.92898 0.343018L4.75698 3.17202L7.58498 0.343018L8.99998 1.75702L4.75698 6.00002Z"
					fill="#383838" />
			</svg>
		</button>
	</div>
</section>