<section class="resources">
	<div class="resources__container">
		<div class="resources__content">
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">cabelos fracos e quebradiços</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">Excesso de oleosidade</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">cabelos ralos e finos</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">dermatites</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">queda de cabelo feminino</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">raleamento</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">CALVÍCIE MASCULINA</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">Psoríase</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">Alopercias</p>
			</div>
			<div class="card-resources">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">Inflamações de couro cabeludo</p>
			</div>
			<button type="button" class="prev">
				<img src="./assets/seta.svg" alt="" />
			</button>
			<button type="button" class="next">
				<img src="./assets/seta.svg" alt="" />
			</button>
		</div>
	</div>
</section>
