<section class="resources">
	<div class="resources__container">
		<div class="resources__content">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">cabelos fracos e quebradiços</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="400">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">Excesso de oleosidade</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">cabelos ralos e finos</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="600">
				<div class="card-resources__icon"><img src="./assets/card.png" alt="" /></div>
				<p class="default__desc">dermatites</p>
			</div>
		</div>
	</div>
</section>
