<section class="testimonials">
	<div class="testimonials__container">
		<h3 class="default__title">O que nossos clientes têm a dizer? </h3>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Eu me sinto privilegiada por ser cuidada pelas profissionais do The Jazz! E que cuidado... Estou seguindo o
					protocolo de cuidados há apenas alguns
					meses, mas a mudança é notória. Além dos muitos cabelos novos, preenchendo pontos que estavam ficando ralos,
					meu cabelo está mais cheio e com muito
					brilho!
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png?as=webp" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Juliana Laís</p>
						<p class="avatar__desc">47 anos, Belo Horizonte</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Um dia, olhei para minha mãe de 75 anos e perguntei o que ela tinha feito no cabelo, que estava mais cheio e
					super bonito. Ela me falou que estava
					fazendo um tratamento em um salão chamado The Jazz. Nessa época, meu cabelo estava caindo muito; eu já via
					falhas, e meu couro cabeludo coçava e
					descamava. Marquei uma avaliação e comecei também o meu tratamento. Em menos de 3 meses, já tinha notado uma
					melhora inacreditável. A descamação
					acabou, e milhares de fios novos começaram a aparecer. Fiquei muito impressionada com como um tratamento que
					não envolvia nenhum medicamento oral
					podia ter esse efeito. Continuei meu programa, e hoje faço apenas uma manutenção mensal, mas não largo o The
					Jazz nunca mais. Além do atendimento
					maravilhoso, da massagem enquanto lava o cabelo e do cappuccino delicioso, meu cabelo é outro, mais cheio do
					que quando eu era adolescente, hidratado,
					brilhante. Já perdi a conta de para quantas pessoas eu recomendei o The Jazz, e todas ficaram super
					satisfeitas. Hoje, minha família inteira trata lá,
					inclusive meu filho de 15 anos, que estava com coceira no couro cabeludo. Ele virou fã, e agora vamos juntos.
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png?as=webp" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Juliana Pimenta</p>
						<p class="avatar__desc">51 anos, Belo Horizonte</p>
					</div>
				</div>
			</div>
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					Iniciei meu tratamento no The Jazz em maio de 2022. Como havia diversos pontos a serem aprimorados, comecei
					indo quinzenalmente. Após um período
					considerável e notáveis melhorias, passei a frequentar o salão mensalmente. Gente, meu cabelo mudou muito! Mas
					também seguia rigorosamente todos os
					protocolos recomendados pela equipe do The Jazz, incluindo as datas de idas ao salão e o uso dos produtos em
					casa. Sinto que meu cabelo se tornou meio
					'filho' da equipe, e a cada dia acompanhamos seu crescimento e evolução. Isso é o que mais destaco! Amo o
					tratamento e super indico e recomendo!
				</p>
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png?as=webp" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Alessandra Coelho Dutra</p>
						<p class="avatar__desc">52 anos, Belo Horizonte</p>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonials__results">
			<div class="vida">
				<p>+1.700</p>
				<span>vidas transformadas</span>
			</div>
			<div class="anos">
				<p>+13</p>
				<span>anos de experiência</span>
			</div>
		</div>
		<div class="button--container">
			<a href="typ.html" class="button bigger">Link no Whatsapp</a>
		</div>
	</div>
</section>