$cor-primaria: #6e3f25;
$cor-primaria-clara: #c9a87b;

$border: #797979;

$tag: rgba(78, 34, 81, 0.16);
$tag-texto: #4e2251;

$texto-primario: #c9a87b;
$texto-legenda: #797979;
$texto-resources: #383838;

// escala neutro
$neutro-900: #1d1d1d;
$neutro-800: #3d3d3d;
$neutro-700: #5c5c5c;
$neutro-600: #6f6f6f;
$neutro-500: #989898;
$neutro-400: #a6a6a6;
$neutro-300: #b7b7b7;
$neutro-200: #dbdbdb;
$neutro-100: #eaeaea;
$neutro-50: #ffffff;
